body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
    background-color: var(--color2);
}

.navbar {
    background-color:var(--color1)
    ;
}

.navbar-nav .nav-link {
    color: var(--color2); /* White */
}

.navbar-nav .fa {
    color: var(--color2);
}

#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --color1: #1D428A;
    --color2: #FFFFFF;
}

.darktheme{
    --color1: #C8102E;
    --color2: #1D428A;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: var(--color2);
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}
